@charset "UTF-8";

body{
    background-color: rgba(141, 158, 115, 0.952);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: rgba(100, 41, 156, 0.904);
}
h1#principal{
    text-align: center;
    text-decoration: underline;
}
h2{
    color: rgb(172, 85, 53);
}
.basico{
    color: rgb(138, 37, 37);
    font-weight: bold;
}
.intermediario{
    color: rgb(255, 80, 80);
}
.avancado{
    color: darkorange;
}